.App {
    min-height: 100vh;
    text-align: center;
    background-image: url('images/wow-background.jpg');
    font-family: 'Play', sans-serif;
}

.App-logo {
    margin: 10px;
    height: 50px;
    width: 200px;
}

.App-header {
    justify-content: center;
}